@forward 'globals';

//* HEADER
header {
	background-color: var(--bg-color);
	color: white;
}

.header-container {
	width: 300px;
	margin: 0 auto;
}

.header-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 2rem 0;

	.head-description,
	.head-nationality {
		font-size: var(--fs-regular);
	}

	.head-picture {
		border-radius: 10px;
		margin-bottom: 1rem;
	}

	.head-nationality {
		color: #ddd;
	}
	.head-title {
		font-size: var(--fs-large);
		font-weight: 400;
		line-height: 0.8;

		margin-bottom: 1rem;
	}
	.head-description {
		margin-bottom: 1rem;
	}

	.contact-btn {
		margin-bottom: 0.7rem;
	}
}

//*GOALS
.goals-img {
	display: none;
}

.goal {
	text-align: center;
	font-size: var(--fs-regular);
	margin-bottom: 16px;

	&:last-child {
		margin-bottom: 0;
	}
}

//* PROYECTS
.proyects-section {
	background-color: var(--bg-color);
}

.proyects-title {
	color: var(--light-color);
}

.proyect {
	width: 300px;
	background-color: var(--light-color);
	border-radius: 5px;

	// ! change
	margin: 0 auto;

	margin-bottom: 32px;

	&:last-child {
		margin-bottom: 0;
	}

	&-img {
		width: 100%;
		height: 173px;
	}

	&-head,
	&-body {
		padding: 0 20px;
	}

	&-title {
		font-size: var(--fs-medium);
		margin-bottom: 16px;
	}

	&-techs-wrapper {
		min-height: 140px;
		margin-bottom: 16px;
	}

	&-techs {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 16px;
		column-gap: 8px;
	}

	&-tech {
		display: flex;
		align-items: center;

		img {
			margin-right: 8px;
		}
	}

	&-footer {
		display: flex;
		justify-content: flex-end;
		background-color: #d9d9d9;
		padding: 8px 20px;

		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;

		a {
			height: 23px;
			width: 23px;
		}

		a:first-child {
			margin-right: 30px;
		}
	}

	&-logo {
		width: 23px;
	}
}

//* CONTACT
.form-group {
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}

	label {
		display: block;
		color: #666;
		font-size: var(--fs-regular);
	}
	input,
	textarea {
		border-radius: 5px;
		outline: none;
		border: 2px solid #333;
		padding: 10px 16px;
		width: 100%;

		font-family: inherit;
		font-size: var(--fs-regular);
	}

	textarea {
		resize: none;
		height: 300px;
	}
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;

	button {
		margin-bottom: 20px;
	}

	.my-links {
		a:first-child {
			margin-right: 20px;
		}
		a {
			width: 45px;
			height: 45px;
		}
		img {
			width: 45px;
		}
	}
}

@media (width > 767px) {
	//* GENERALS
	.container {
		width: 680px;
	}

	//* HEADER
	.header-wrapper {
		max-width: 430px;
		margin: 0 auto;

		padding: 70px 0;

		.head-title {
			font-size: var(--fs-xlarge);
		}
		.contact-btn {
			margin-bottom: 0;
			margin-right: 32px;
		}
	}

	//* GOALS
	.goals {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 16px;
		column-gap: 40px;
	}

	.goal {
		margin-bottom: 0;
	}

	//* PROYECTS
	.proyects {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;

		row-gap: 32px;
	}
	.proyect {
		margin: 0;
	}

	//*CONTACT
	.contact-form {
		max-width: 600px;
		margin: 0 auto;
	}

	.buttons {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

@media (width > 1023px) {
	//* GENERALS
	.container {
		width: 900px;
	}

	//*HEADER
	.header-wrapper {
		max-width: 800px;

		display: grid;
		grid-template-areas: 'uno dos';
		justify-items: center;

		.head {
			grid-area: uno;

			max-width: 400px;
		}

		.head-picture {
			grid-area: dos;

			margin-bottom: 0;
		}
	}

	//*GOALS
	.goals {
		grid-template-areas:
			'. uno .'
			'dos tres cuatro'
			'cinco tres seis'
			'. siete .';
		grid-template-columns: auto;
		justify-items: center;
		align-items: center;
		justify-content: space-between;
		row-gap: 40px;
	}
	.goals-img {
		display: unset;
		grid-area: tres;

		width: 200px;
	}

	.goal {
		&-1 {
			grid-area: uno;
		}
		&-2 {
			grid-area: dos;
		}
		&-3 {
			grid-area: cuatro;
		}
		&-4 {
			grid-area: cinco;
		}
		&-5 {
			grid-area: seis;
		}
		&-6 {
			grid-area: siete;
		}
	}

	//*PROYECTS
	.proyects-section {
		.container {
			width: 1000px;
		}
	}
	.proyects {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (width > 1439px) {
	//* GENERALS
	.container {
		width: 1200px;
	}

	//* GOALS
	.goals {
		row-gap: 60px;
	}

	.proyects-section {
		.container {
			width: 1300px;
		}
	}
}
