:root {
	// Colors
	--light-color: #fff;
	--bg-color: #3170de;
	--btn-primary: #033aa8;
	--btn-secondary: #555555;

	// Fonts
	--font: 'Roboto', sans-serif;

	--fs-small: 16px;
	--fs-regular: 20px;
	--fs-medium: 24px;
	--fs-large: 40px;
	--fs-xlarge: 48px;
}
